* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.fa-th {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
}

.fa-th:hover {
    color: rgba(0, 0, 0, 1);
}

.fa-bell {
    font-size: 9px;
    color: white;
    z-index: 10;
}

html, body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    text-align: center;
    background-color: rgba(159, 48, 44, 0.6);
    background-image: -webkit-repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .2) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .2) 63px, rgba(0, 0, 0, .2) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .3) 116px, rgba(0, 0, 0, .3) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .3) 169px, rgba(0, 0, 0, .3) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .3) 182px, rgba(0, 0, 0, .3) 232px, transparent 232px), -webkit-repeating-linear-gradient(right, transparent, transparent 50px, rgba(0, 0, 0, .2) 50px, rgba(0, 0, 0, .2) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .2) 63px, rgba(0, 0, 0, .2) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .3) 169px, rgba(0, 0, 0, .3) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .3) 182px, rgba(0, 0, 0, .3) 232px, transparent 232px), -webkit-repeating-linear-gradient(325deg, transparent, transparent 2px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, .2) 5px);
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .2) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .2) 63px, rgba(0, 0, 0, .2) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .3) 116px, rgba(0, 0, 0, .3) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .3) 169px, rgba(0, 0, 0, .3) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .3) 182px, rgba(0, 0, 0, .3) 232px, transparent 232px), repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0, 0, 0, .2) 50px, rgba(0, 0, 0, .2) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .2) 63px, rgba(0, 0, 0, .2) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .3) 169px, rgba(0, 0, 0, .3) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .3) 182px, rgba(0, 0, 0, .3) 232px, transparent 232px), repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, .2) 5px);
    background-attachment: fixed;
}

header {
    overflow: hidden;
}

header h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 400;
    color: yellow;
    margin-top: 112px;
}

header h1::first-letter {
    color: #4285f4;
}

header .red {
    color: red;
}

header .blue {
    color: #4285f4;
}

header .green {
    color: green;
}

header p {
    font-size: 16px;
    font-weight: 300;
    color: #4285f4;
    left: 97px;
    position: relative;
    margin-top: -20px;
}

.hugger {
    width: 672px;
    height: 44px;
    display: inline-block;
    border: 1px solid #333;
    background-color: white;
    box-shadow: 0px 3px 11px 0px rgba(50, 50, 50, 0.75);
    position: relative;
}

.hugger input {
    float: left;
    height: 42px;
    width: 80%;
    border: none;
    background: transparent;
    padding: 0 10px;
    outline: none;
    font-size: 15px;
}

.form_search {
    margin-top: 30px;
}

.voice {
    float: right;
    height: 42px;
    line-height: 3.4;
    padding-right: 20px;
    position: relative;
}

.voice span {
    display: inline-block;
    width: 18px;
    height: 23px;
    background-image: url('img/voice.png');
    background-size: 24px 24px;
    cursor: pointer;
}

.button_search {
    float: right;
    height: 42px;
    line-height: 3.4;
    padding-right: 16px;
}

.button_search div {
    display: inline-block;
    height: 42px;
    width: 24px;
    color: #4285f4;
    cursor: pointer;
}

.search_glass, .button_search div svg {
    fill: #4285f4;
    height: 24px;
    width: 24px;
}

#popup {
    font-family: Arial;
    width: 200px;
    height: 50px;
    border: 1px solid #fff;
    padding: 10px;
    background: rgb(45, 45, 45);
    position: absolute;
    right: -31px;
    top: 50px;
    display: none;
    font-size: 11px;
    color: white;
}

#popup::before {
    border-width: 0px 6px 6px;
    border-style: solid;
    -o-border-image: initial;
    border-image: initial;
    border-color: rgb(255, 255, 255) transparent;
    content: "";
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    position: absolute;
    top: -6px;
    width: 0px;
    left: 46%;
}

#popup::after {
    border-width: 0px 6px 6px;
    border-style: solid;
    -o-border-image: initial;
    border-image: initial;
    border-color: rgb(45, 45, 45) transparent;
    content: "";
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
    position: absolute;
    top: -5px;
    width: 0px;
    left: 91px;
}

.result {
    margin: 0 auto;
    max-width: 672px;
    background: rgba(255, 255, 255, 0.8);
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 15px;
    text-align: left;
}

.content .image img {
    width: 200px;
    height: 200px;
    padding: 30px 0;
}

.image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.result h3>a {
    color: #1a0dab;
}

.result_string {
    color: #006621;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top_panel div {
    float: right;
    margin: 10px 20px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.top_panel a {
    font-size: 13px;
    color: #000;
}

.top_panel span {
    display: inline-block;
    margin-left: 20px;
}

.table {
    height: 22px;
}

.bell {
    width: 20px;
    height: 20px;
    border-radius: 35px;
    background: rgba(0, 0, 0, 0.54);
    line-height: .9;
}

.bell:hover {
    background: rgba(0, 0, 0, 1);
}

.profile {
    width: 35px;
    height: 35px;
    background-image: url('img/Darth.png');
    background-size: 35px 35px;
    border-radius: 35px;
}
